if SHIELD_3DPCORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "3dpcorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_3DPCORNE_LEFT || SHIELD_3DPCORNE_RIGHT

    config ZMK_SPLIT
        default y

endif